.row,
.cell,
.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  border: 1px solid white;
  min-width: 75px;
  min-height: 75px;
  flex-grow: 1 1;
}

.gameBoard {
  flex-direction: column;
}
